@model UserRole
@{
    ViewData["Title"] = "تعديل بيانات المستخدم";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">تعديل بيانات المستخدم</h2>

    <form method="post" asp-action="Edit">
        <input type="hidden" asp-for="@Model.Id" /> <!-- لإرسال الـ ID في الطلب -->
        <input type="hidden" asp-for="TBUser.Id" /> <!-- لإرسال الـ ID في الطلب -->
        <!-- اسم المستخدم -->
        <div class="form-group">
            <label for="@Model.TBUser.Name">الاسم</label>
            <input asp-for="@Model.TBUser.Name" class="form-control" id="UserName" />
            <span asp-validation-for="@Model.TBUser.Name" class="text-danger"></span>
            <span id="usernameError" class="text-danger" style="display:none;">اسم المستخدم موجود بالفعل. يرجى اختيار اسم آخر.</span>
        </div> 
        <div class="form-group mb-3">
            <label for="RoleId">الدور</label>
            <select asp-for="@Model.TBRole.Id" asp-items="ViewBag.Roles" class="form-control">
                <option value="">اختر الدور</option>
            </select>
            <span asp-validation-for="@Model.TBRole.Id" class="text-danger"></span>
        </div>

        <fieldset class="form-group" style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; margin-bottom: 20px;">
            <legend style="width: auto; padding: 0 10px; font-size: 1.2em; color: #333;">بيانات الدخول</legend>
        <div class="form-group">
            <label for="@Model.TBUser.UserName">اسم المستخدم</label>
            <input asp-for="@Model.TBUser.UserName" class="form-control" id="UserName" readonly />
            <span asp-validation-for="@Model.TBUser.UserName" class="text-danger"></span>
            <span id="usernameError" class="text-danger" style="display:none;">اسم المستخدم موجود بالفعل. يرجى اختيار اسم آخر.</span>
        </div>
            <div class="form-group mb-3">
                <label for="Password">كلمة المرور</label>
                <input asp-for="@Model.TBUser.PasswordHash" class="form-control" id="Password" type="password" placeholder="أدخل كلمة المرور" data-val="false" />
            </div>
        </fieldset>
        <!-- الدور -->
        

        <!-- زر التعديل -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">تعديل</button>
        </div>
    </form>

    <!-- عرض الرسائل -->
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info mt-3 text-center">@ViewBag.Message</div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    
}
