@model ArtsVM

@{
    string Name = "  الفنون التشكيلية |  " + " " + Model.ArtName  ;
    ViewData["Title"] = Name;
}
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center my-2 py-2">
                <h3 class="fw-bold display-4">
                    الفنون التشكيلية
                    في
                    <span class="text-danger">
                      (  @Model.ArtName )
                    </span>
                    مرحله
                    <span class="text-danger">
                        @Model.StageName
                    </span>
                </h3>
            </div>
        </div>
    </div>
</div>


<!-- زر الإضافة -->
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between">
            <!-- زر إضافة مخدوم -->
            <a id="addServiceBtn" href="/Arts/Create?StageId=@Model.StageID&ArtId=@Model.ArtID&inGroup=@Model.InGroup" class="btn btn-success mr-3">
                <i class="fa fa-plus"></i> إضافة مخدوم
            </a>

            <!-- الراديو بوتون في المنتصف -->
            <div class="form-check mx-auto">
                <input class="form-check-input" type="radio" @(Model.InGroup == 0 ? "checked" : "") name="exampleRadios" id="exampleRadios1" value="0"
                       onclick="updateAddServiceLink(0);redirectToPage(@Model.ArtID,@Model.StageID,0)" style="font-size: 1.5rem;">
                <label class="form-check-label" for="exampleRadios1" style="font-size: 1.5rem;">
                    فردي
                </label>
            </div>
            <div class="form-check mx-auto">
                <input class="form-check-input" type="radio" @(Model.InGroup == 1 ? "checked" : "") name="exampleRadios" id="exampleRadios2" value="1"
                       onclick="updateAddServiceLink(1);redirectToPage(@Model.ArtID,@Model.StageID,1)" style="font-size: 1.5rem;">
                <label class="form-check-label" for="exampleRadios2" style="font-size: 1.5rem;">
                    جماعي
                </label>
            </div>

            <!-- زر تحميل و طباعة الملف -->
            <a onclick="downloadAndPrint(@Model.StageID,'الفنون التشكيلية',@Model.ArtID,@Model.InGroup)" class="btn btn-primary">
                <i class="fa fa-download"></i> تحميل الملف وطباعته
            </a>
        </div>
    </div>
</div>







<!-- Container-fluid Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">

        <div class="card-body vendor-table">
            @if (Model.makhdoumswithStage.Count() > 0)
            {
                <table class="display" id="basic-1">
                    <thead>
                        <tr>
                            <th>الاسم</th>
                            <th>تاريخ الميلاد</th>
                            <th>رقم التلفون</th>
                            <th>  طباعة \ مسح </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.makhdoumswithStage)
                        {
                            <tr>

                                <td>@item.Makhdoum.Name</td>
                                <td>@String.Format("{0:dd/MM/yyyy}", item.Makhdoum.DateOfBirth)</td>
                                <td>@item.Makhdoum.PhoneNumber</td>

                                <td>
                                    <div class="btn-group" role="group">
                                        <a onclick="confirmDelete(@item.Makhdoum.Id,@Model.StageID,@Model.ArtID,@Model.InGroup)" class="btn btn-danger">مسح</a>

                                    </div>
                                    <div class="btn-group" role="group">
                                        <a onclick="downloadAndPrintOnlyOne(@Model.StageID, 'الفنون التشكيلية', @item.Makhdoum.Id,@Model.ArtID,@Model.InGroup)"
                                           class="btn btn-secondary">
                                            <i class="bi bi-printer"></i> طباعة
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }




                    </tbody>
                </table>
            }
            else
            {
                <h5 class="text-center fw-bold display-5 bold">
                     لا يوجد مخدومين مشتركين في
                    @Model.ArtName
                    بمرحلة
                    ( @Model.StageName )

                </h5>

            }
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function confirmDelete(itemId,stageId,artId,inGroup) {
            Swal.fire({
                title: 'هل أنت متأكد؟',
                text: "لن تتمكن من استعادة هذا العنصر بعد الحذف!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'نعم، احذف!',
                cancelButtonText: 'إلغاء'
            }).then((result) => {
                if (result.isConfirmed) {
                    // إعادة التوجيه إلى الحذف
                    window.location.href = `/Arts/Delete?MakhdoumId=${itemId}&StageId=${stageId}&ArtId=${artId}&inGroup=${inGroup}`;                }
            });
        }




            function downloadAndPrint(stageId,ActiveName,ArtId,inGroup) {
                // تحميل الملف
                        window.location.href = `/Arts/Upload?stageId=${stageId}&ActivityName=${ActiveName}&artId=${ArtId}&inGroup=${inGroup}`;

                // إظهار رسالة للطباعة (الطباعة تتم يدويًا بعد التنزيل)
                alert("تم تجهيز الملف. يمكنك فتحه وطباعته الآن.");
            }

             function downloadAndPrintOnlyOne(stageId,ActiveName,UserId,artId,inGroup) {
                // تحميل الملف
                        window.location.href = `/Arts/UploadForOne?stageId=${stageId}&ActivityName=${ActiveName}&UserID=${UserId}&artId=${artId}&inGroup=${inGroup}`;

                // إظهار رسالة للطباعة (الطباعة تتم يدويًا بعد التنزيل)
                alert("تم تجهيز الملف. يمكنك فتحه وطباعته الآن.");
            }

                function redirectToPage(artId,stageId,inGroup) {
                    if (inGroup === 0) {
                        // إذا تم اختيار "فردي"، يتم توجيه المستخدم إلى صفحة معينة
                        window.location.href = `/Arts?ArtId=${artId}&StageId=${stageId}&inGroup=${inGroup}`;  // قم بتغيير الرابط إلى الرابط الذي تريده
                    } else if (inGroup === 1) {
                        // إذا تم اختيار "جماعي"، يتم توجيه المستخدم إلى صفحة أخرى
                        window.location.href = `/Arts?ArtId=${artId}&StageId=${stageId}&inGroup=${inGroup}`;  // قم بتغيير الرابط إلى الرابط الذي تريده
                    }
                }

                    
        // دالة لتحديث رابط زر "إضافة مخدوم" بناءً على اختيار المستخدم
        function updateAddServiceLink(inGroup) {
            // الحصول على زر "إضافة مخدوم"
            const addServiceBtn = document.getElementById('addServiceBtn');

            // تحديث الرابط بناءً على قيمة inGroup
            addServiceBtn.href = `/Arts/Create?StageId=@Model.StageID&ArtId=@Model.ArtID&inGroup=${inGroup}`;
        }
    </script>

}
