@model List<Makhdoum>

@{
    ViewData["Title"] = "قائمة المخدومين";
}
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        قائمة المخدومين
                    </h3>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- زر الإضافة -->
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-12">
            <a asp-action="Create" class="btn btn-success">
                <i class="fa fa-plus"></i> إضافة مخدوم
            </a>
        </div>
    </div>
</div>


<!-- Container-fluid Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">

        <div class="card-body vendor-table">
            <table class="display" id="basic-1">
                <thead>
                    <tr>
                        <th>الاسم</th>
                        <th>تاريخ الميلاد</th>
                        <th>رقم التلفون</th>
                        <th>معلومات</th>
                        <th>تعديل \ مسح </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Name</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.DateOfBirth)</td>
                            <td>@item.PhoneNumber</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="/Makhdoum/info/@item.Id" class="btn btn-info">معلومات</a>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a onclick="confirmDelete(@item.Id)" class="btn btn-danger">مسح</a>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">تعديل</a>
                                </div>
                            </td>
                        </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function confirmDelete(itemId) {
            Swal.fire({
                title: 'هل أنت متأكد؟',
                text: "لن تتمكن من استعادة هذا العنصر بعد الحذف!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'نعم، احذف!',
                cancelButtonText: 'إلغاء'
            }).then((result) => {
                if (result.isConfirmed) {
                    // إعادة التوجيه إلى الحذف
                    window.location.href = `/Makhdoum/Delete/${itemId}`;
                }
            });
        }
    </script>

}
